Django==3.2.13
docker_py==1.10.6
kubernetes==25.3.0
MySQL-python==1.2.5
pandas==1.2.3
Pillow~=8.4.0
pycryptodome==3.16.0
pytz==2021.1
redis==4.4.0
requests==2.28.1
rsa==4.9
crypto~=1.4.1
retry~=0.9.2
mysqlclient~=2.1.1
docker~=6.0.1